@model ECommerce.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name,new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId",null,"Select",new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandId, "Brand", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BrandId",null ,"select",new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.BrandId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConditionId, "Condition", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConditionId",null,"Select",new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.ConditionId)
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.RegularPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RegularPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegularPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfferPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OfferPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OfferPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Negotiable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Gender" id="Gender" class="form-control">
                    <option value="">Select</option>
                    <option value="True">NO</option>
                    <option value="Flase">Yes</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Links, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Links, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Links)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Video, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Video, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Video)
            </div>
        </div>

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
